BOT_TOKEN=your_telegram_bot_token
ADMIN_ID=123456789
PGUSER=postgres
PGPASSWORD=postgres
DATABASE=tutorbot
PGHOST=localhost
PGPORT=5432
PGSCHEMA=tutorscalebot
GOOGLE_CALENDAR_ID=your_calendar_id@group.calendar.google.com
GOOGLE_CREDENTIALS_FILE=/home/deploy/.secrets/tutorscalebot/credentials.json
TUTORBOT_DATA_DIR=/srv/tutorscalebot/data
FSM_STORAGE_FILE=/srv/tutorscalebot/data/fsm_storage.json
TUTORBOT_SERVICE_NAME=tutorscalebot
TUTORBOT_SYSTEMD_SCOPE=system
